.main-content {
  display: flex;
  min-height: 100vh;
}

.gallery {
  width: 80%;
  background-color: coral;
}

.ideas {
  display: flex;
  width: 20%;
  background-color: aqua;
}

.main-image {
  max-width: 100%;
  margin: auto;
  box-shadow: 0px 10px 19px --9px rgba(0, 0, 0, 0.75);
}

.idea {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 4px;
  color: white;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
