body {
  background-color: antiquewhite;
}
.rectangl {
  border: 8px solid;
  margin: 16px;
  padding: 16px;
  width: 512px;
  height: 128px;
}
.rectangl1 {
  background-color: aquamarine;
  box-sizing: border-box;

}

.rectangl2 {
  box-sizing: border-box;
  background-color: azure;
}
