/* відступи знизу */
li {
  margin-bottom: 16px;
}
/* першому лі даємо колір */
ul > li:first-child > span {
  background-color: red;
  color: white;
}
/* останньому */
ul > li span:last-child > span {
  background-color: black;
  color: white;
}
/* парним лі даємо відступи */
li:nth-child(even) {
  margin-left: 16px;
}
/* заплутався в номерації виводив 3 дів */
p:nth-child(1),p:nth-child(4) {
  background-color: grey;
}
