@keyframes moving {
    from {
      left: 0;
      opacity: 1;
    }
    to {
      left: 70px;
    }
  }

  @keyframes blinking {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }