@import 'variables.scss';
.header {
  height: $unit * 7;
  background-color: $color-grey;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: $unit * 7;
  color: $text-color-secondary;

  &__item {
    color: $text-color-secondary;
    background-color: $color-secondary;
    border-radius: $border-radius;
    padding: $unit;
    margin-left: $unit;
    font-weight: 700;
    cursor: pointer;

    &_selected {
      background-color: $color-primary;
    }
  }
  &:hover {
    opacity: 0.7;
  }
}
