.super-important.highlighted  {
background-color: red;
}
.highlighted {
  color: yellow;
}
.company-data {
  color: yellow;
}
li.user-data, span {
  font-size: 24px;  
}
span.user-data {
  font-size: 10px;
}