<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navigation">
      <div class="navigation__title">JACKETS</div>

      <div class="navigation__search">
        <div class="navigation__filter">
          <label class="navigation__label">FILTER BY</label>
          <select class="navigation__select">
            <option>JACKETS</option>
            <option>JACKETS123</option>
            <option>JACKETS153542</option>
          </select>
        </div>
        <div class="navigation__sort">
          <label class="navigation__label"></label>
          <select class="navigation__select">
            <option>by price</option>
            <option>by date</option>
          </select>
        </div>
      </div>
    </nav>
    <section class="products">
      <span class="product__sale"></span>
      <div class="product">
        <div class="product__img">
          <img
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366"
            alt="first Jacket"
          />
        </div>
        <div class="product__info">
          <div class="product__name">Haze Varsity</div>
          <div class="product__price">150$</div>
          <div class="product__avail">SOLD OUT</div>
        </div>
      </div>
      <section class="products">
        <span class="product__sale"></span>
        <div class="product">
          <div class="product__img">
            <img
              src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366"
              alt="first Jacket"
            />
          </div>
          <div class="product__info">
            <div class="product__name">Haze Varsity</div>
            <div class="product__price">150$</div>
            <div class="product__avail">SOLD OUT</div>
          </div>
        </div>
        <section class="products">
            <span class="product__sale"></span>
            <div class="product">
              <div class="product__img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366"
                  alt="first Jacket"
                />
              </div>
              <div class="product__info">
                <div class="product__name">Haze Varsity</div>
                <div class="product__price">150$</div>
                <div class="product__avail">SOLD OUT</div>
              </div>
            </div>
      <div class="product"></div>
      <div class="product"></div>
      <div class="product"></div>
      <div class="product"></div>
    </section>
  </body>
</html>
