<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav class="nav">
      <div class="nav__title"></div>
      <div class="nav__search">
        <div class="nav__filter">
          <label for="" class="nav__label">FILTER BY</label>
          <select name="" id="" class="nav__select">
              <option>All</option>
          </select>
        </div>
        <div class="nav__sort">
          <label for="" class="nav__label">SORT BY</label>
          <select name="" id="" class="nav__select">
            <option value="date-asc">Freatured</option>
            <option value="date-selling">Best selling</option>
          </select>
        </div>
      </div>
    </nav>
    <section class="products">
      <div class="product">
          <div class="product__img">
              
              <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_1024x1024.jpeg?v=1445623366" alt=""/>
          </div>
          <div class="product__info">
              <h5 class="product__title">Haze Varsity</h5>
              <h6 class="product__price">$132.96</h6>
          </div>
      </div>
      <div class="product">
        <div class="product__img">
            
            <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_250x.jpeg?v=1445623369" alt=""/>
        </div>
        <div class="product__info">
            <h5 class="product__title">Greet Jacket</h5>
            <h6 class="product__price">$161</h6>
        </div>
    </div>
    <div class="product">
        <div class="product__img">
            
            <img src="https://cdn.shopify.com/s/files/1/0938/8938/products/10197100950_1_1294x1800_300_RGB_180x.jpeg?v=1445623372" alt=""/>
        </div>
        <div class="product__info">
            <h5 class="product__title"></h5>
            <h6 class="product__price"></h6>
        </div>
    </div>
    <div class="product">
        <div class="product__img">
            
            <img src="" alt=""/>
        </div>
        <div class="product__info">
            <h5 class="product__title"></h5>
            <h6 class="product__price"></h6>
        </div>
    </div>
    <div class="product">
        <div class="product__img">
            
            <img src="" alt=""/>
        </div>
        <div class="product__info">
            <h5 class="product__title"></h5>
            <h6 class="product__price"></h6>
        </div>
    </div>
    <div class="product">
        <div class="product__img">
            
            <img src="" alt=""/>
        </div>
        <div class="product__info">
            <h5 class="product__title"></h5>
            <h6 class="product__price"></h6>
        </div>
    </div>
    </section>
  </body>
</html>