.checkbox {
  padding-left: 35px;
  font-size: 24px;
  margin: 16px;
  position: relative;
  display: inline-block;
}

input[type='checkbox'] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.checkmark {
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-color: #d3d3d3;
  display: inline-block;
  position: absolute;
}

.checkbox input:checked + .checkmark {
  background-color: #005400;
}
