html {
  font-family: Verdana, sans-serif;
}
h1 {
  margin: auto;
  font-size: 74px;
  text-align: center;
  width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.div-text {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}